@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Ubuntu-Regular";
    src: url("../public/fonts/Ubuntu-Regular.ttf") format(truetype);
  }
}

body {
  box-sizing: border-box;
  font-size: 17px;
}

.truncate {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: 4 !important;
    line-clamp: 4 !important;
    overflow: hidden;
}
